USE [Botelos Bar]
GO
DELETE FROM [dbo].[TICKET]
GO
DELETE FROM [dbo].[ORDEN]
GO
DELETE FROM [dbo].[INVENTARIO]
GO
DELETE FROM [dbo].[CUPON_ORDEN]
GO
DELETE FROM [dbo].[CUPON]
GO
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (1, N'2x1 en tequila', 5, 1)
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (2, N'$100 MXN de descuento', 3, 1)
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (3, N'Mezcal $80 MXN por 500ml', 4, 1)
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (1, 1)
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (2, 2)
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (3, 10)
SET IDENTITY_INSERT [dbo].[INVENTARIO] ON 

INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (1, N'Tequila', 300, N'Botella 300ml', N'Don Julio')
INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (3, N'Mezcal', 340, N'Botella 300ml', N'San Miguel')
INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (5, N'Cerveza', 1000, N'Botella 355ml', N'Indio')
SET IDENTITY_INSERT [dbo].[INVENTARIO] OFF
SET IDENTITY_INSERT [dbo].[ORDEN] ON 

INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (2, 1, 2, 1)
INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (3, 17, 4, 2)
INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (4, 8, 6, 5)
SET IDENTITY_INSERT [dbo].[ORDEN] OFF
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (1, 1, CAST(N'2018-12-27T00:00:00.000' AS DateTime), 2, N'.16       ', 200.0000, N'Daniel S')
INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (2, 2, CAST(N'2018-12-27T00:00:25.000' AS DateTime), 3, N'.16       ', 120.0000, N'Emiliano S')
INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (3, 5, CAST(N'2018-12-29T00:00:00.000' AS DateTime), 4, N'.16       ', 84.0000, N'J Botello')
SET IDENTITY_INSERT [dbo].[TICKET] OFF

UPDATE INVENTARIO SET CANTIDAD = 280 WHERE ID = 1;
UPDATE TICKET SET MESA = 12 WHERE NUM_CUENTA = 13; 
UPDATE CUPON SET CANTIDAD = 8 WHERE NUM_CUPON = 14;
UPDATE CUPON_ORDEN SET ORDEN = 26 WHERE NUM_CUPON = 15;
UPDATE ORDEN SET ARTICULO = 17 WHERE NUM_ORDEN = 13;

DELETE FROM INVENTARIO WHERE ID = 22;
DELETE FROM TICKET WHERE MESA = 5;
DELETE FROM CUPON WHERE CANTIDAD = 1;
DELETE FROM CUPON_ORDEN WHERE NUM_CUPON = 15;
DELETE FROM ORDEN WHERE ID = 3;

--


SELECT * FROM CUPON INNER JOIN CUPON_ORDEN on CUPON.NUM_CUPON = CUPON_ORDEN.NUM_CUPON
SELECT * FROM CUPON CROSS JOIN CUPON_ORDEN
SELECT * FROM CUPON LEFT JOIN ORDEN ON CUPON.CANTIDAD = ORDEN.CANTIDAD
SELECT * FROM ORDEN RIGHT JOIN CUPON ON ORDEN.CANTIDAD = CUPON.CANTIDAD


SELECT TIPO, COUNT(CANTIDAD) AS MARCAS FROM INVENTARIO group by TIPO,CANTIDAD
SELECT TIPO, MAX(CANTIDAD) AS MAXIMO_POR_MARCA FROM INVENTARIO group by TIPO,CANTIDAD
SELECT TIPO, MIN(CANTIDAD) AS MINIMO_POR_MARCA FROM INVENTARIO group by TIPO,CANTIDAD HAVING MIN(CANTIDAD) <500
SELECT SUM(CANTIDAD) AS TOTAL_DE_PRODUCTOS FROM INVENTARIO
SELECT AVG(CANTIDAD) AS PROMEDIO_POR_PRODUCTO FROM INVENTARIO


SELECT TIPO AS BEBIDA, NOMBRE AS MARCA, DESCRIPCION AS TAMANO FROM INVENTARIO 
SELECT TIPO + ' ' + NOMBRE AS BEBIDA FROM INVENTARIO
SELECT TIPO AS BEBIDAS FROM INVENTARIO 
SELECT TIPO + ' ' + NOMBRE AS BEBIDA, CANTIDAD AS DISPONIBLES FROM INVENTARIO 
SELECT NUM_CUPON AS CUPON, DESCRIPCION AS PROMOCION, CANTIDAD AS VALIDOS FROM CUPON

SELECT TIPO, NOMBRE AS MARCA, CANTIDAD FROM INVENTARIO WHERE CANTIDAD < 500 order by NOMBRE
SELECT CANTIDAD, MESA FROM ORDEN WHERE ARTICULO = 3
SELECT NUM_CUPON AS CUPON, DESCRIPCION FROM CUPON WHERE CANTIDAD < 10
SELECT NUM_CUPON AS CUPON, DESCRIPCION FROM CUPON WHERE CANTIDAD > 5
SELECT MESERO, MESA FROM TICKET WHERE NUM_CUENTA <> 7

SELECT TIPO, NOMBRE FROM INVENTARIO JOIN ORDEN ON INVENTARIO.ID = ORDEN.ARTICULO GROUP BY TIPO, NOMBRE
SELECT NUM_CUENTA, MESERO, TOTAL FROM TICKET JOIN ORDEN ON TICKET.MESA = ORDEN.MESA GROUP BY NUM_CUENTA, MESERO, TOTAL
SELECT TIPO, NOMBRE FROM INVENTARIO JOIN TICKET ON INVENTARIO.ID = TICKET.MESA GROUP BY TIPO, NOMBRE