USE [Botelos Bar]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTARIO', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTARIO'
GO
/****** Object:  Index [IX_TICKET]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP INDEX IF EXISTS [IX_TICKET] ON [dbo].[TICKET]
GO
/****** Object:  Index [IX_ORDEN]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP INDEX IF EXISTS [IX_ORDEN] ON [dbo].[ORDEN]
GO
/****** Object:  Index [IX_INVENTARIO_1]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP INDEX IF EXISTS [IX_INVENTARIO_1] ON [dbo].[INVENTARIO]
GO
/****** Object:  Index [IX_CUPON_ORDEN]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP INDEX IF EXISTS [IX_CUPON_ORDEN] ON [dbo].[CUPON_ORDEN]
GO
/****** Object:  Index [IX_CUPON]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP INDEX IF EXISTS [IX_CUPON] ON [dbo].[CUPON]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP TABLE IF EXISTS [dbo].[TICKET]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP TABLE IF EXISTS [dbo].[ORDEN]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP TABLE IF EXISTS [dbo].[INVENTARIO]
GO
/****** Object:  Table [dbo].[CUPON_ORDEN]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP TABLE IF EXISTS [dbo].[CUPON_ORDEN]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP TABLE IF EXISTS [dbo].[CUPON]
GO
USE [master]
GO
/****** Object:  Database [Botelos Bar]    Script Date: 10/5/2018 10:41:35 PM ******/
DROP DATABASE IF EXISTS [Botelos Bar]
GO
/****** Object:  Database [Botelos Bar]    Script Date: 10/5/2018 10:41:35 PM ******/
CREATE DATABASE [Botelos Bar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bar de Botellos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar de Botellos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bar de Botellos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar de Botellos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Botelos Bar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Botelos Bar]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 10/5/2018 10:41:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON](
	[NUM_CUPON] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[CANTIDAD] [int] NULL,
	[VALIDO] [bit] NULL,
 CONSTRAINT [PK_CUPON] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPON_ORDEN]    Script Date: 10/5/2018 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON_ORDEN](
	[NUM_CUPON] [int] NOT NULL,
	[ORDEN] [int] NOT NULL,
 CONSTRAINT [PK_CUPON_ORDEN] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 10/5/2018 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[NOMBRE] [varchar](15) NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 10/5/2018 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[NUM_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[ARTICULO] [int] NOT NULL,
	[CANTIDAD] [float] NULL,
	[MESA] [int] NULL,
 CONSTRAINT [PK_ORDEN] PRIMARY KEY CLUSTERED 
(
	[NUM_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 10/5/2018 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[NUM_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[MESA] [int] NULL,
	[FECHA] [datetime] NULL,
	[NUM_ORDEN] [int] NULL,
	[IVA] [nchar](10) NULL,
	[TOTAL] [money] NULL,
	[MESERO] [varchar](15) NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY CLUSTERED 
(
	[NUM_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (1, N'2x1 en tequila', 5, 1)
GO
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (2, N'$100 MXN de descuento', 3, 1)
GO
INSERT [dbo].[CUPON] ([NUM_CUPON], [DESCRIPCION], [CANTIDAD], [VALIDO]) VALUES (3, N'Mezcal $80 MXN por 500ml', 4, 1)
GO
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (1, 1)
GO
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (2, 2)
GO
INSERT [dbo].[CUPON_ORDEN] ([NUM_CUPON], [ORDEN]) VALUES (3, 10)
GO
SET IDENTITY_INSERT [dbo].[INVENTARIO] ON 
GO
INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (1, N'Tequila', 300, N'Botella 300ml', N'Don Julio')
GO
INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (3, N'Mezcal', 340, N'Botella 300ml', N'San Miguel')
GO
INSERT [dbo].[INVENTARIO] ([ID], [TIPO], [CANTIDAD], [DESCRIPCION], [NOMBRE]) VALUES (5, N'Cerveza', 500, N'Botella 355ml', N'Indio')
GO
SET IDENTITY_INSERT [dbo].[INVENTARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDEN] ON 
GO
INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (2, 1, 2, 1)
GO
INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (3, 17, 4, 2)
GO
INSERT [dbo].[ORDEN] ([NUM_ORDEN], [ARTICULO], [CANTIDAD], [MESA]) VALUES (4, 8, 6, 5)
GO
SET IDENTITY_INSERT [dbo].[ORDEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 
GO
INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (1, 1, CAST(N'2018-12-27T00:00:00.000' AS DateTime), 2, N'.16       ', 200.0000, N'Daniel S')
GO
INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (2, 2, CAST(N'2018-12-27T00:00:25.000' AS DateTime), 3, N'.16       ', 120.0000, N'Emiliano S')
GO
INSERT [dbo].[TICKET] ([NUM_CUENTA], [MESA], [FECHA], [NUM_ORDEN], [IVA], [TOTAL], [MESERO]) VALUES (3, 5, CAST(N'2018-12-29T00:00:00.000' AS DateTime), 4, N'.16       ', 84.0000, N'J Botello')
GO
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
/****** Object:  Index [IX_CUPON]    Script Date: 10/5/2018 10:41:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_CUPON] ON [dbo].[CUPON]
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUPON_ORDEN]    Script Date: 10/5/2018 10:41:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_CUPON_ORDEN] ON [dbo].[CUPON_ORDEN]
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_INVENTARIO_1]    Script Date: 10/5/2018 10:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_INVENTARIO_1] ON [dbo].[INVENTARIO]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ORDEN]    Script Date: 10/5/2018 10:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ORDEN] ON [dbo].[ORDEN]
(
	[NUM_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TICKET]    Script Date: 10/5/2018 10:41:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TICKET] ON [dbo].[TICKET]
(
	[NUM_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de Botellas disponibles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTARIO'
GO
USE [master]
GO

--PRACTICA 4

UPDATE INVENTARIO SET CANTIDAD = 280 WHERE ID = 1;
UPDATE TICKET SET MESA = 12 WHERE NUM_CUENTA = 13; 
UPDATE CUPON SET CANTIDAD = 8 WHERE NUM_CUPON = 14;
UPDATE CUPON_ORDEN SET ORDEN = 26 WHERE NUM_CUPON = 15;
UPDATE ORDEN SET ARTICULO = 17 WHERE NUM_ORDEN = 13;

DELETE FROM INVENTARIO WHERE ID = 22;
DELETE FROM TICKET WHERE MESA = 5;
DELETE FROM CUPON WHERE CANTIDAD = 1;
DELETE FROM CUPON_ORDEN WHERE NUM_CUPON = 15;
DELETE FROM ORDEN WHERE ID = 3;

--PRACTICA 5

SELECT * FROM CUPON INNER JOIN CUPON_ORDEN on CUPON.NUM_CUPON = CUPON_ORDEN.NUM_CUPON
SELECT * FROM CUPON CROSS JOIN CUPON_ORDEN
SELECT * FROM CUPON LEFT JOIN ORDEN ON CUPON.CANTIDAD = ORDEN.CANTIDAD
SELECT * FROM ORDEN RIGHT JOIN CUPON ON ORDEN.CANTIDAD = CUPON.CANTIDAD


SELECT TIPO, COUNT(CANTIDAD) AS MARCAS FROM INVENTARIO group by TIPO,CANTIDAD
SELECT TIPO, MAX(CANTIDAD) AS MAXIMO_POR_MARCA FROM INVENTARIO group by TIPO,CANTIDAD
SELECT TIPO, MIN(CANTIDAD) AS MINIMO_POR_MARCA FROM INVENTARIO group by TIPO,CANTIDAD HAVING MIN(CANTIDAD) <500
SELECT SUM(CANTIDAD) AS TOTAL_DE_PRODUCTOS FROM INVENTARIO
SELECT AVG(CANTIDAD) AS PROMEDIO_POR_PRODUCTO FROM INVENTARIO


SELECT TIPO AS BEBIDA, NOMBRE AS MARCA, DESCRIPCION AS TAMANO FROM INVENTARIO 
SELECT TIPO + ' ' + NOMBRE AS BEBIDA FROM INVENTARIO
SELECT TIPO AS BEBIDAS FROM INVENTARIO 
SELECT TIPO + ' ' + NOMBRE AS BEBIDA, CANTIDAD AS DISPONIBLES FROM INVENTARIO 
SELECT NUM_CUPON AS CUPON, DESCRIPCION AS PROMOCION, CANTIDAD AS VALIDOS FROM CUPON

SELECT TIPO, NOMBRE AS MARCA, CANTIDAD FROM INVENTARIO WHERE CANTIDAD < 500 order by NOMBRE
SELECT CANTIDAD, MESA FROM ORDEN WHERE ARTICULO = 3
SELECT NUM_CUPON AS CUPON, DESCRIPCION FROM CUPON WHERE CANTIDAD < 10
SELECT NUM_CUPON AS CUPON, DESCRIPCION FROM CUPON WHERE CANTIDAD > 5
SELECT MESERO, MESA FROM TICKET WHERE NUM_CUENTA <> 7

SELECT TIPO, NOMBRE FROM INVENTARIO JOIN ORDEN ON INVENTARIO.ID = ORDEN.ARTICULO GROUP BY TIPO, NOMBRE
SELECT NUM_CUENTA, MESERO, TOTAL FROM TICKET JOIN ORDEN ON TICKET.MESA = ORDEN.MESA GROUP BY NUM_CUENTA, MESERO, TOTAL
SELECT TIPO, NOMBRE FROM INVENTARIO JOIN TICKET ON INVENTARIO.ID = TICKET.MESA GROUP BY TIPO, NOMBRE

-- PRACTICA 6 

Select Tipo as Bebida, NOMBRE as Marca 
from INVENTARIO where CANTIDAD < 
(Select AVG(cantidad) from INVENTARIO) 


Select Tipo as Bebida, NOMBRE as Marca, (Select MIN(cantidad) from INVENTARIO) as MinimoML 
from INVENTARIO


Select top 1* from 
(select CANTIDAD, 
	(select count(CANTIDAD) from INVENTARIO as c where c.CANTIDAD = INVENTARIO.CANTIDAD)
	as 'En_Inventario' from INVENTARIO
) as CN where CN.CANTIDAD > 1


with Bebidas as 
(Select Tipo, COUNT(tipo) as [Bebida] from INVENTARIO group by TIPO) 
Select * from INVENTARIO where INVENTARIO.CANTIDAD < 500


DECLARE @query nvarchar(MAX)
DECLARE @nomcol nvarchar(MAX) = 'Bebidas'
SET @query = 'Select Nombre as ' + @nomcol +  ' from Inventario'
print (@query)
EXEC (@query)


create View Cuenta as (
	select ticket.MESA as Mesa, TOTAL as Total from TICKET join 
	ORDEN on TICKET.MESA = ORDEN.MESA
	)
Select * from Cuenta

create view Cantidad_Bebida as(
    select TIPO as Bebida, NOMBRE as Marca, CANTIDAD as Cantidad from INVENTARIO where CANTIDAD  > (
    Select AVG(CANTIDAD) as PrecioPromedio 
    from INVENTARIO 
    ) 
)
Select * from Cantidad_Bebida


create View Mesero as (
	select ticket.MESERO as Mesero, Ticket.MESA as Mesa from TICKET left join 
	ORDEN on TICKET.MESA = ORDEN.MESA group by ticket.mesero, ticket.MESA, orden.MESA
	)
Select * from Mesero

create view Cupones as(
    select DESCRIPCION as Promocion, Num_Cupon as [Num.Cupon], CANTIDAD as Cantidad from CUPON where CANTIDAD = (
    Select count(CANTIDAD) as CuponesValidos
    from CUPON
    ) 
)
Select * from Cupones


create View Articulos as (
	select Tipo as Bebida, Nombre as Marca from INVENTARIO left join 
	ORDEN on INVENTARIO.ID = ORDEN.ARTICULO
	)
Select * from Articulos
