USE [Botelos Bar]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Inventario'
GO
/****** Object:  Index [IX_CUPON_ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP INDEX [IX_CUPON_ORDEN] ON [dbo].[CUPON_ORDEN]
GO
/****** Object:  Index [IX_CUPON]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP INDEX [IX_CUPON] ON [dbo].[CUPON]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP TABLE [dbo].[TICKET]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP TABLE [dbo].[ORDEN]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP TABLE [dbo].[Inventario]
GO
/****** Object:  Table [dbo].[CUPON_ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP TABLE [dbo].[CUPON_ORDEN]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP TABLE [dbo].[CUPON]
GO
USE [master]
GO
/****** Object:  Database [Botelos Bar]    Script Date: 08/09/2018 01:24:53 p. m. ******/
DROP DATABASE [Botelos Bar]
GO
/****** Object:  Database [Botelos Bar]    Script Date: 08/09/2018 01:24:53 p. m. ******/
CREATE DATABASE [Botelos Bar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bar de Botellos', FILENAME = N'Q:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar de Botellos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bar de Botellos_log', FILENAME = N'Q:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bar de Botellos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Botelos Bar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Botelos Bar]
GO
USE [Botelos Bar]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 08/09/2018 01:24:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON](
	[NUM_CUPON] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[CANTIDAD] [int] NULL,
	[VALIDO] [bit] NULL,
 CONSTRAINT [PK_CUPON] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPON_ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON_ORDEN](
	[NUM_CUPON] [int] NOT NULL,
	[ORDEN] [int] NOT NULL,
 CONSTRAINT [PK_CUPON_ORDEN] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 08/09/2018 01:24:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[ID] [int] NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[NUM_ORDEN] [int] NOT NULL,
	[ARTICULO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[MESA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 08/09/2018 01:24:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[NUM_CUENTA] [int] NOT NULL,
	[MESA] [int] NULL,
	[FECHA] [datetime] NULL,
	[NUM_ORDEN] [int] NULL,
	[ART_ORDEN] [varchar](150) NOT NULL,
	[IVA] [nchar](10) NULL,
	[TOTAL] [money] NULL,
	[MESERO] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUPON]    Script Date: 08/09/2018 01:24:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CUPON] ON [dbo].[CUPON]
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUPON_ORDEN]    Script Date: 08/09/2018 01:24:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CUPON_ORDEN] ON [dbo].[CUPON_ORDEN]
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de Botellas disponibles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Inventario'
GO
USE [master]
GO
