USE [Botelos Bar]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 9/22/2018 1:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON](
	[NUM_CUPON] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[CANTIDAD] [int] NULL,
	[VALIDO] [bit] NULL,
 CONSTRAINT [PK_CUPON] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPON_ORDEN]    Script Date: 9/22/2018 1:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON_ORDEN](
	[NUM_CUPON] [int] NOT NULL,
	[NUM_ORDEN] [int] NOT NULL,
 CONSTRAINT [PK_CUPON_ORDEN] PRIMARY KEY CLUSTERED 
(
	[NUM_CUPON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 9/22/2018 1:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_ARTICULO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](15) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[NOMBRE] [varchar](15) NULL,
	[IMAGEN] [image] NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 9/22/2018 1:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[NUM_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[MESA] [int] NULL,
 CONSTRAINT [PK_ORDEN] PRIMARY KEY CLUSTERED 
(
	[NUM_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 9/22/2018 1:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[NUM_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[MESA] [int] NULL,
	[FECHA] [datetime] NULL,
	[NUM_ORDEN] [int] NULL,
	[ART_ORDEN] [varchar](150) NOT NULL,
	[IVA] [nchar](10) NULL,
	[TOTAL] [money] NULL,
	[MESERO] [varchar](15) NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY CLUSTERED 
(
	[NUM_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_INVENTARIO]    Script Date: 9/22/2018 1:28:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_INVENTARIO](
	[ID_ARTICULO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[CANTIDAD_ARTICULOS] [int] NOT NULL,
	[NUM_CUENTA] [int] NULL,
 CONSTRAINT [PK_TICKET_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUPON]  WITH CHECK ADD  CONSTRAINT [FK_CUPON_CUPON_ORDEN] FOREIGN KEY([NUM_CUPON])
REFERENCES [dbo].[CUPON_ORDEN] ([NUM_CUPON])
GO
ALTER TABLE [dbo].[CUPON] CHECK CONSTRAINT [FK_CUPON_CUPON_ORDEN]
GO
ALTER TABLE [dbo].[CUPON_ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_CUPON_ORDEN_ORDEN] FOREIGN KEY([NUM_ORDEN])
REFERENCES [dbo].[ORDEN] ([NUM_ORDEN])
GO
ALTER TABLE [dbo].[CUPON_ORDEN] CHECK CONSTRAINT [FK_CUPON_ORDEN_ORDEN]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_ORDEN] FOREIGN KEY([NUM_ORDEN])
REFERENCES [dbo].[ORDEN] ([NUM_ORDEN])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_TICKET_ORDEN]
GO
ALTER TABLE [dbo].[TICKET_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_INVENTARIO_INVENTARIO] FOREIGN KEY([ID_ARTICULO])
REFERENCES [dbo].[INVENTARIO] ([ID_ARTICULO])
GO
ALTER TABLE [dbo].[TICKET_INVENTARIO] CHECK CONSTRAINT [FK_TICKET_INVENTARIO_INVENTARIO]
GO
ALTER TABLE [dbo].[TICKET_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_INVENTARIO_TICKET] FOREIGN KEY([NUM_CUENTA])
REFERENCES [dbo].[TICKET] ([NUM_CUENTA])
GO
ALTER TABLE [dbo].[TICKET_INVENTARIO] CHECK CONSTRAINT [FK_TICKET_INVENTARIO_TICKET]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de Botellas disponibles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTARIO'
GO
